bin
boot
cte
dev
etc
home
lib
media
mnt
opt
proc
root
run
sbin
srv
sys
tmp
usr
var
urbit/bin
urbit/debian
urbit/extras
urbit/i
urbit/j
urbit/make.conf
urbit/Makefile
urbit/n
urbit/outside
urbit/README.markdown
urbit/Spec
urbit/urb
urbit/v
urbit/w
urbit/.d
urbit/.gitattributes
urbit/.gitignore
urbit/.travis.yml
urbit/pier/.urb
urbit/pier/.vere.lock
urbit/pier/del/.vere.lock
.dockerinit
